<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img data-original="img/logos/bitrix.jpg" class="img-responsive img-centered lazy" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img data-original="img/logos/bitrix24.jpg" class="img-responsive img-centered lazy" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img data-original="img/logos/drupal.jpg" class="img-responsive img-centered lazy" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img data-original="img/logos/joomla.jpg" class="img-responsive img-centered lazy" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>