<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Контакты</h2>
                    <h3 class="section-subheading">Хотите что-нибудь заказать или спросить? Воспользуйтесь формой обратной связи, мы обязательно ответим.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Фамилия Имя Отчество *" id="name" required data-validation-required-message="Пожалуйста, введите ваши инициалы.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Электропочта *" id="email" required data-validation-required-message="Пожалуйста, введите вашу электронную почту.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Контактный телефон *" id="phone" required data-validation-required-message="Пожалуйста, введите контактный телефон.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Сообщение *" id="message" required data-validation-required-message="Пожалуйста, введите ваше сообщение."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>