<footer id="footer">
    <section>
        <h2>Сотрудничество</h2>
        <p>Мы с удовольствием работаем с любыми инициативными компаниями, которые хотят партнерских отношений с нашей студией. Заполняйте форму заявки и мы с вами обсудим форму сотрудничества.</p>
        <ul class="actions">
            <li><a href="mailto:hello@limydesign.ru" class="button icon fa-envelope">Сделать предложение</a></li>
        </ul>
    </section>
    <section>
        <h2>Контакты</h2>
        <dl class="alt">
            <dt>Адрес</dt>
            <dd>664002 &bull; Россия &bull; г. Иркутск, ул. Жукова, 2-4</dd>
            <dt>Телефон</dt>
            <dd>+7 (3952) 96-96-17</dd>
            <dt>Email</dt>
            <dd><a href="mailto:hello@limydesign.ru">hello@limydesign.ru</a></dd>
        </dl>
        <ul class="icons">
            {% for network in site.social %}
            <li>
                <a href="{{ network.url }}" class="icon fa-{{ network.icon }} alt">
                    <span class="label">{{ network.title }}</span>
                </a>
            </li>
            {% endfor %}
            <li>
                <a href="/feed.xml" class="icon fa-rss alt">
                    <span class="label">RSS</span>
                </a>
            </li>
        </ul>
    </section>
    <p class="copyright">2002 &mdash; 2016 &copy; LimyDesign Studio</p>
</footer>