<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Услуги</h2>
                    <h3 class="section-subheading text-muted">Здесь представлены не все услуги, которые мы готовы предоставить, но это наиболее исчерпывающий список. В любом случае мы рассмотрим любые ваши предложения, если вам будет не достаточно того, что мы уже делаем.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Готовый Интернет-магазин</h4>
                    <p class="text-muted">Нужен сайт, который может продавать ваши товары — не проблема, мы реализуем ваш Интернет-магазин на 1С-Битрикс или на любой другой CMS системе. Однако мы рекомендуем воспользоваться именно 1С-Битрикс. Хотите узнать почему 1С-Битрикс лучше остальных — позвоните или напишите нам.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Готовый сайт с удобной CMS</h4>
                    <p class="text-muted">Необходимо сделать корпоративный сайт, который может администрировать, обновлять и добавлять любой из сотрудников без специальных знаний? Не проблема! Мы реализуем ваш корпоративный сайт на системе управления 1С-Битрикс.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Настройка серверов</h4>
                    <p class="text-muted">В вашей компании имеются сервера на базе UNIX-like операционных систем, будь то Linux, FreeBSD, Mac OS X и другие подобные, и вам необходимо их правильно настроить? Сделаем это быстро и не дорого. А может быть вам нужен сервер под 1С-Битрикс? И такое мы сделаем без проблем.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Подключить онлайн-платежи</h4>
                    <p class="text-muted">Мы давно живем не в 19 веке, а начиная с конца 20 века хорошим тоном считается принимать платежи от ваших клиентов не только по месту, но и в Интернете — это просто, быстро, удобно и, в большинстве, безопасно.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sliders fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Поддержка готового сайта</h4>
                    <p class="text-muted">Уже есть сайт, он вам нравиться и вы не хотите делать новый, но обслуживают его плохо, либо вообще не обслуживают? Поможем привести все в порядок, а возможно и доработать уже имеющийся сайт, так чтобы все работало правильно.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Только магия и никакого мошенничества</h4>
                    <p class="text-muted">Знаете что вам надо, но пока не знаете, как это реализовать? Поможем составить техническое задание, определить этапы выполнения и приступим к реализации вашей идеи в дело, чтобы Вы могли наслаждаться своей задумкой.</p>
                </div>
            </div>
        </div>
    </section>